.form-container {
    max-width: 800px; /* Adjust this to control the form width */
    margin: 0 auto;   /* Center the container horizontally */
    padding: 20px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow */
    border: 1px solid #e0e0e0; /* Light gray border */
}

/* Adjust the width of the input fields */
lightning-input,
lightning-combobox,
lightning-file-upload {
    width: 100%;
}

h1 {
    font-size: 24px; /* Increased size for more prominence */
    color: #005596;
    margin-bottom: 15px; /* More space below the title */
}

li {
    font-size: 20px; /* Increased size for more prominence */
    color: #005596;
}

h2 {
    font-size: 22px; /* Increased size for more prominence */
    color: #091c5a;
    margin-bottom: 15px; /* More space below the title */
}

h3 {
    font-size: 20px; /* Increased size for more prominence */
    color: #091c5a;
    margin-top: 20px;   /* More space above the title */
    margin-bottom: 5px; /* More space below the title */
}

p {
    font-size: 16px; /* Increased size for better readability */
    color: #091c5a;
    margin-top: 20px;
    margin-bottom: 20px; /* Increased spacing below the paragraph */
}

ul {
    margin-bottom: 15px;
}

.slds-button_outline-brand {
    --slds-c-button-outline-brand-color-background: white;
    --slds-c-button-outline-brand-color-border: #091c5a;
    --slds-c-button-text-color: #091c5a;
}

.slds-button_brand {
    --slds-c-button-brand-color-background: #091c5a;
    --slds-c-button-brand-color-border: white;
}

c-re-c-a-p-t-c-h-a {
    width: 100%;
    height: auto;
    overflow: visible;
}


.warning{
    color: red;
}